$avatar-size: 10em;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.4em 0;
  .wrapper {
    width: $avatar-size;
    height: $avatar-size;
    margin-bottom: 0.6em;
  }
  .quote {
    text-align: center;
  }
  .name {
    font-weight: 700;
  }
  .nameBlock {
    margin-bottom: 0.3em;
  }
}
