.container {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .imageWrapper {
        position: relative;
        margin: 3em;
        margin-bottom: .5em;
        width: 150px;
        height: 150px;
    }
    .name {
        margin-bottom: .5em; 
    }
}