@use "./Palette.module.scss" as colors;

.container {
  min-height: 100vh;
  padding: 0 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .heroContainer {
    background: colors.$wireframe-splash;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8em 0;
    font-family: "Sifonn Pro";
    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 6em;
      text-transform: uppercase;

      text-align: center;
      span {
        font-weight: bold;
        color: black;
        letter-spacing: 0.4em;
        text-indent: -0.4em;
        direction: rtl;
        text-align: center;
        margin: 0.1rem 0;
      }
    }
  }
  .bodyContainer {
    background: colors.$wireframe-splash;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
  }
}
