.container {
    display:flex;
    justify-content: center;
    align-items: center;
    .form {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #c4c4c4;
        padding:4em 1em;
        .title {
            font-size: 1.4em;
            font-weight: bold;
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            align-self: flex-start;
            width: 100%;
            margin-bottom: .5em;
            .subtitle {
                font-size: .6em;
                font-weight: lighter;
                align-self: flex-start;
                margin-bottom: 1em;
            }
        }
    }
}