$primary-color: rgb(0, 255, 191);

$wireframe-primary-color: black;

$wireframe-splash: #e5e5e5;

$wireframe-splash-art: url("../public/assets/images/Rectangle.svg");

$wireframe-label-colour: #bbb;
$wireframe-disabled-colour: #ddd;
$wireframe-toggle-colour: #e2e2e2;
$wireframe-focus-color: #ff0;
