@use "./Palette.module.scss" as colors;
.containerTop {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #e5e5e5;
  padding-bottom: 2.5em;
  .title {
    display: flex;
    font-size: 6em;
    font-family: "Sifonn Pro";
    padding: 3em 0em 0em 0em;
    z-index: 9;
  }
  .descriptTop {
    display: flex;
    font-size: 2.4em;
    width: auto;
    padding-bottom: 1.5em;
  }
  .buttonContainer {
    display: flex;
    margin-bottom: 1.5em;
  }
}

.containerMiddle {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-top: 19em;
  .titleMiddle {
    display: flex;
    font-family: Sifonn Pro;
    font-size: 4em;
    padding-top: 0.5em;
  }
  .descriptMiddle {
    display: flex;
    font-family: Josefin Sans;
    font-size: 3em;
    padding-bottom: 3.5em;
  }
  .textMiddle {
    display: flex;
    width: 24em;
    height: 100%;
    font-size: 2em;
    font-family: Josefin Sans;
  }
  .picture {
    display: flex;
    margin: 4em;
  }
}

.containerBottom {
  display: flex;
  background-color: #c1c1c1;
  align-items: center;
  justify-content: center;
  text-align: justify;
  padding: 5em 0em;
  .outline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5.2em;
    .textBottom {
      display: flex;
      width: 20em;
      font-family: Josefin Sans;
      font-size: 2em;
      padding-bottom: 2em;
    }
    .buttonContainer {
      display: flex;
      max-width: 40%;
    }
  }
}
